<!-- Modal -->
<div #myModal class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Llamada entrante de...</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6 class="text-center">Cliente platino</h6>
        <h1 class="text-center mt-4">Juan Pérez</h1>
        <p class="text-center mt-2">+34 687841125</p>
      </div>
      <div class="modal-footer d-flex flex-wrap justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Dejar en espera</button>
        <button type="button" class="btn btn-danger">Colgar</button>
      </div>
    </div>
  </div>
</div>
